<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a href="#"><i class="fa fa-user"></i> Thông Tin</a></li>
                        <li><a href="#"><i class="fa fa-heart"></i> Danh Sách</a></li>
                        <li><a href="cart.html"><i class="fa fa-user"></i> Giỏ Hàng</a></li>
                        <li><a href="checkout.html"><i class="fa fa-user"></i> Hóa Đơn</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> Tài Khoản</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="header-right">
                    <ul class="list-unstyled list-inline">
                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">Đơn Vị :</span><span class="value">VND </span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">VND</a>
                                </li>
                                <li>
                                    <a href="#">USD</a>
                                </li>
                                <li><a href="#">GBP</a></li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">Ngôn Ngữ:</span><span class="value">Việt Nam </span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">VietNam</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">German</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End header area -->

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1>
                        <a href="./"><img style="width:170px;height:110px;" src="assets/trangchu/img/logo.png"></a>
                    </h1>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="shopping-item">
                    <a href="cart.html">Giỏ Hàng - <span class="cart-amunt">$</span> <i class="fa fa-shopping-cart"></i> <span class="product-count"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End site branding area -->

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home">Trang Chủ</a></li>
                    <li><a href="shop.html">Mua Hàng</a></li>
                    <li><a href="single-product.html">Sản Phẩm</a></li>
                    <li><a href="cart.html">Giỏ Hàng</a></li>
                    <li><a href="checkout.html">Thanh Toán</a></li>
                    <li><a href="#">Danh Sách</a></li>
                    <li><a href="#">Mục Khác</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End mainmenu area -->

<div style="background: chocolate;" class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Thanh Toán</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Tìm Kiếm Sản Phẩm</h2>
                    <form action="">
                        <input type="text" placeholder="Tìm kiếm sản phẩm...">
                        <input style="background: chocolate;" type="submit" value="Tìm Kiếm">
                    </form>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản Phẩm</h2>
                    <div class="thubmnail-recent">
                        <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="">Chivas XI-Royal</a></h2>
                        <div class="product-sidebar-price">
                            <ins>600000 VND</ins> <del>1000000 VND</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="">Chivas XX-Dragon</a></h2>
                        <div class="product-sidebar-price">
                            <ins>700000 VND</ins> <del>800000 VND</del>
                        </div>
                    </div>

                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản Phẩm Liên Quan</h2>
                    <ul>
                        <li><a href="">Chivas 15-Regal</a></li>
                        <li><a href="">Chivas 18-Royal</a></li>
                        <li><a href="">Chivas 21-Dragon</a></li>
                        <li><a href="">Chivas 12-Royal</a></li>
                        <li><a href="">Chivas XX-Red</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <div class="woocommerce-info">Đăng nhập để tiếp tục? <a class="showlogin" data-toggle="collapse" href="#login-form-wrap" aria-expanded="false" aria-controls="login-form-wrap">Đăng Nhập</a>
                        </div>

                        <form id="login-form-wrap" class="login collapse" method="post">


                            <p>Đăng Nhập để tiếp tục với đơn hàng của bạn.!</p>

                            <p class="form-row form-row-first">
                                <label for="username">Tài Khoản <span class="required">*</span>
                                    </label>
                                <input type="text" id="username" name="username" class="input-text">
                            </p>
                            <p class="form-row form-row-last">
                                <label for="password">Mật Khẩu<span class="required">*</span>
                                    </label>
                                <input type="password" id="password" name="password" class="input-text">
                            </p>
                            <div class="clear"></div>


                            <p class="form-row">
                                <input type="submit" value="Đăng Nhập" name="login" class="button">

                            </p>
                            <p class="lost_password">
                                <a href="#">Quên mật khẩu?</a>
                            </p>

                            <div class="clear"></div>
                        </form>

                        <div class="woocommerce-info">Nhập mã ưu đãi? <a class="showcoupon" data-toggle="collapse" href="#coupon-collapse-wrap" aria-expanded="false" aria-controls="coupon-collapse-wrap">Nhập Mã</a>
                        </div>

                        <form id="coupon-collapse-wrap" method="post" class="checkout_coupon collapse">

                            <p class="form-row form-row-first">
                                <input type="text" value="" id="coupon_code" placeholder="Nhập Mã....." class="input-text" name="coupon_code">
                            </p>

                            <p class="form-row form-row-last">
                                <input type="submit" value="Xác Nhận" name="apply_coupon" class="button">
                            </p>

                            <div class="clear"></div>
                        </form>

                        <form enctype="multipart/form-data" action="#" class="checkout" method="post" name="checkout" >

                            <div id="customer_details" class="col2-set">
                                <div class="col-1">
                                    <div class="woocommerce-billing-fields">
                                        <h3>Thông Tin Của Bạn</h3>

                                        <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                                            <label class="" for="billing_first_name">Tên Đệm<abbr title="required" class="required">*</abbr>
                                                </label>
                                            <input type="text" value="" placeholder="" id="billing_first_name" name="billing_first_name" class="input-text ">
                                        </p>

                                        <p id="billing_last_name_field" class="form-row form-row-last validate-required">
                                            <label class="" for="billing_last_name">Tên <abbr title="required" class="required">*</abbr>
                                                </label>
                                            <input type="text" value="" placeholder="" id="billing_last_name" name="billing_last_name" class="input-text ">
                                        </p>
                                        <div class="clear"></div>

                                        <p id="billing_company_field" class="form-row form-row-wide">
                                            <label class="" for="billing_company">Họ Và Tên</label>
                                            <input type="text" value="" placeholder="" id="billing_company" name="billing_company" class="input-text ">
                                        </p>

                                        <p id="billing_address_1_field" class="form-row form-row-wide address-field validate-required">
                                            <label class="" for="billing_address_1">Địa Chỉ <abbr title="required" class="required">*</abbr>
                                                </label>
                                            <input type="text" value="" placeholder="" id="billing_address_1" name="billing_address_1" class="input-text ">
                                        </p>


                                        <div class="clear"></div>

                                        <p id="billing_email_field" class="form-row form-row-first validate-required validate-email">
                                            <label class="" for="billing_email">Email <abbr title="required" class="required">*</abbr>
                                                </label>
                                            <input type="text" value="" placeholder="" id="billing_email" name="billing_email" class="input-text ">
                                        </p>

                                        <p id="billing_phone_field" class="form-row form-row-last validate-required validate-phone">
                                            <label class="" for="billing_phone">Số Điện Thoại <abbr title="required" class="required">*</abbr>
                                                </label>
                                            <input type="text" value="" placeholder="" id="billing_phone" name="billing_phone" class="input-text ">
                                        </p>
                                        <div class="clear"></div>



                                    </div>
                                </div>


                            </div>

                            <h3 id="order_review_heading">Đơn Hàng</h3>

                            <div id="order_review" style="position: relative;">
                                <table class="shop_table" *ngFor="let s of getCartDetails">
                                    <thead>
                                        <tr>
                                            <th class="product-name">Sản Phẩm</th>
                                            <th class="product-total">Thành Tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                {{s.ProductName}} </td>
                                              
                                                <td class="product-total">
                                                <span class="amount">{{s.Price|number}} VND</span> </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>



                                        <tr class="shipping">
                                            <th><img src="assets/images/gallery/{{s.ProductImage}}" width="100px" height="80px"></th>
                                            <td>

                                               SL : {{s.Quantity}}
                                                <input type="hidden" class="shipping_method" value="free_shipping" id="shipping_method_0" data-index="0" name="shipping_method[0]">
                                            </td>
                                        </tr>




                                    </tfoot>
                                </table>


                                <div id="payment">
                                    <ul class="payment_methods methods">

                                        <li class="payment_method_cheque">
                                            <input type="radio" data-order_button_text="" value="cheque" name="payment_method" class="input-radio" id="payment_method_cheque">-
                                            <label for="payment_method_cheque">  Payment </label>
                                            <div style="display:none;" class="payment_box payment_method_cheque">

                                            </div>
                                        </li>
                                        <li class="payment_method_paypal">
                                            <input type="radio" data-order_button_text="Proceed to PayPal" value="paypal" name="payment_method" class="input-radio" id="payment_method_paypal">-
                                            <label for="payment_method_paypal"> PayPal <img alt="PayPal Acceptance Mark" src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png"><a title="What is PayPal?" onclick="javascript:window.open('https://www.paypal.com/gb/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;" class="about_paypal" href="https://www.paypal.com/gb/webapps/mpp/paypal-popup">What is PayPal?</a>
                                                </label>
                                            <div style="display:none;" class="payment_box payment_method_paypal">

                                            </div>
                                        </li>
                                    </ul>

                                    <div class="form-row place-order">
                                     
                                        <input type="Submit" id="myCheck" value="Xác Nhận" onmouseover="myFunction()" onclick="alert('Đơn Hàng Của Bạn Đã Được Lưu Thành Công .!') ">
                                        <script>
                                            function myFunction() {
                                                document.getElementById("myCheck").click();
                                            }
                                        </script>

                                    </div>

                                    <div class="clear"></div>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer-top-area ">
    <div class="zigzag-bottom "></div>
    <div class="container ">
        <div class="row ">
            <div class="col-md-3 col-sm-6 ">
                <div class="footer-about-us ">
                    <h2>Rượu Ngoại</h2>
                    <p>Chất Lượng – Uy Tín – Thương Hiệu là kim chỉ nam là định hướng cho Website của chúng tôi. Tạo dựng niềm tin, xây dựng thương hiệu để phát triển bền vững trên con đường kinh doanh cũng như phục vụ sự hài lòng của Khách Hàng.</p>
                    <div class="footer-social ">
                        <a href="# " target="_blank "><i class="fa fa-facebook "></i></a>
                        <a href="# " target="_blank "><i class="fa fa-twitter "></i></a>
                        <a href="# " target="_blank "><i class="fa fa-youtube "></i></a>
                        <a href="# " target="_blank "><i class="fa fa-linkedin "></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 ">
                <div class="footer-menu ">
                    <h2 class="footer-wid-title ">Cài Đặt </h2>
                    <ul>
                        <li><a href="# ">Tài Khoản</a></li>
                        <li><a href="# ">Lịch Sử</a></li>
                        <li><a href="# ">Danh Sách</a></li>
                        <li><a href="# ">Thông Tin</a></li>
                        <li><a href="# ">Tin Tức</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 ">
                <div class="footer-menu ">
                    <h2 class="footer-wid-title ">Loại Sản Phẩm</h2>
                    <ul>
                        <li><a href="# ">Chivas</a></li>
                        <li><a href="# ">Soju</a></li>
                        <li><a href="# ">RedBull</a></li>
                        <li><a href="# ">Voldka</a></li>
                        <li><a href="# ">Gadets</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 ">
                <div class="footer-newsletter ">
                    <h2 class="footer-wid-title ">Tin Tức</h2>
                    <p>Hãy đăng nhập và cập nhật thông tin cho chúng tôi</p>
                    <div class="newsletter-form ">
                        <form action="# ">
                            <input type="email " placeholder="Type your email ">
                            <input type="submit " value=" Gửi Đi ">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>