<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a href="#"><i class="fa fa-user"></i> Thông Tin</a></li>
                        <li><a href="#"><i class="fa fa-heart"></i> Danh Sách</a></li>
                        <li><a href="cart.html"><i class="fa fa-user"></i> Giỏ Hàng</a></li>
                        <li><a href="checkout.html"><i class="fa fa-user"></i> Hóa Đơn</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> Tài Khoản</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="header-right">
                    <ul class="list-unstyled list-inline">
                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">Đơn Vị :</span><span class="value">VND </span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">VND</a>
                                </li>
                                <li>
                                    <a href="#">USD</a>
                                </li>
                                <li><a href="#">GBP</a></li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">Ngôn Ngữ:</span><span class="value">Việt Nam </span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">VietNam</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">German</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End header area -->

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1>
                        <a href="./"><img style="width:170px;height:110px;" src="assets/trangchu/img/logo.png"></a>
                    </h1>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="shopping-item">
                    <a href="cart.html">Giỏ Hàng - <span class="cart-amunt">VND</span> <i class="fa fa-shopping-cart"></i> <span class="product-count"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End site branding area -->

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home">Trang Chủ</a></li>
                    <li><a href="shop.html">Mua Hàng</a></li>
                    <li><a href="single-product.html">Sản Phẩm</a></li>
                    <li><a href="cart.html">Giỏ Hàng</a></li>
                    <li><a href="checkout.html">Thanh Toán</a></li>
                    <li><a href="#">Danh Sách</a></li>
                    <li><a href="#">Mục Khác</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End mainmenu area -->

<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
            <li><img src="assets/trangchu/img/banner2.jpg" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        Rượu Ngoại <span class="primary">O1 <strong>O2</strong></span>
                    </h2>
                    <h4 class="caption subtitle">& Chivas</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Mua Sản Phẩm</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- ./Slider -->
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Tìm Kiếm Sản Phẩm</h2>
                    <form action="">
                        <input type="text" placeholder="Tìm kiếm sản phẩm...">
                        <input style="background: chocolate;" type="submit" value="Tìm Kiếm">
                    </form>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản Phẩm</h2>
                    <div class="thubmnail-recent">
                        <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="">Chivas XI-Royal</a></h2>
                        <div class="product-sidebar-price">
                            <ins>600000 VND</ins> <del>1000000 VND</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="">Chivas XX-Dragon</a></h2>
                        <div class="product-sidebar-price">
                            <ins>700000 VND</ins> <del>800000 VND</del>
                        </div>
                    </div>

                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản Phẩm Liên Quan</h2>
                    <ul>
                        <li><a href="">Chivas 15-Regal</a></li>
                        <li><a href="">Chivas 18-Royal</a></li>
                        <li><a href="">Chivas 21-Dragon</a></li>
                        <li><a href="">Chivas 12-Royal</a></li>
                        <li><a href="">Chivas XX-Red</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="">Trang Chủ</a>
                        <a href="">Danh Sách</a>

                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img src="assets/images/gallery/{{sanpham.ProductImage}}" alt="">
                                </div>

                                <div class="product-gallery">
                                    <img style="width:110px;" src=" assets/images/gallery/{{sanpham.ProductImage}} " alt=" ">
                                    <img style="width:110px;" src="assets/images/gallery/{{sanpham.ProductImage}} " alt=" ">
                                    <img style="width:110px;" src="assets/images/gallery/{{sanpham.ProductImage}} " alt=" ">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 ">
                            <div class="product-inner ">
                                <h2 class="product-name ">{{sanpham.ProductName}}</h2>
                                <div class="product-inner-price ">
                                    <ins>{{sanpham.Price}} VND</ins> <del>{{sanpham.PromotionPrice}} VND</del>
                                </div>

                                <form action=" " class="cart ">
                                    <div class="quantity ">
                                        <input type="number " size="4 " class="input-text qty text " title="Qty " value="1 " name="quantity " min="1 " step="1 ">
                                    </div>
                                    <button style="background: chocolate;" class="add_to_cart_button " type="submit ">Mua Hàng</button>
                                </form>

                                <div class="product-inner-category ">
                                    <p>Mã Loại: <a href=" ">{{sanpham.CategoryID}}</a>. Tags: <a href=" ">Regal</a>, <a href=" ">Dragon</a>, <a href=" ">Royal</a>, <a href=" ">Red</a>. </p>
                                </div>

                                <div role="tabpanel ">
                                    <ul class="product-tab " role="tablist ">
                                        <li role="presentation " class="active "><a style="background: chocolate;" href="#home " aria-controls="home " role="tab " data-toggle="tab ">Thông Tin</a></li>
                                        <li role="presentation "><a href="#profile " aria-controls="profile " role="tab " data-toggle="tab ">Đánh Giá</a></li>
                                    </ul>
                                    <div class="tab-content ">
                                        <div role="tabpanel " class="tab-pane fade in active " id="home ">
                                            <h2>Thông Tin Sản Phẩm</h2>

                                            <p>{{sanpham.Description}}</p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="related-products-wrapper ">
                        <h2 class="related-products-title ">Sản Phẩm Cùng Loại</h2>
                        <div class="related-products-carousel ">
                            <div class="single-product ">
                                <div class="product-f-image ">
                                    <img src="assets/images/gallery/21.jpg " alt=" ">
                                    <div class="product-hover ">
                                        <a href=" " class="add-to-cart-link "><i class="fa fa-shopping-cart "></i> Add to cart</a>
                                        <a href=" " class="view-details-link "><i class="fa fa-link "></i> See details</a>
                                    </div>
                                </div>

                                <h2><a href="/chitiet/{{sanpham.ProductID}}">Chivas 12</a></h2>

                                <div class="product-carousel-price ">
                                    <ins>700000 VND</ins> <del>1000000 VND</del>
                                </div>
                            </div>
                            <div class="single-product ">
                                <div class="product-f-image ">
                                    <img style="width:140px;height: 140px; " src="assets/images/gallery/22.jpg " alt=" ">
                                    <div class="product-hover ">
                                        <a href=" " class="add-to-cart-link "><i class="fa fa-shopping-cart "></i> Mua Hàng</a>
                                        <a href=" " class="view-details-link "><i class="fa fa-link "></i> Xem Thêm</a>
                                    </div>
                                </div>

                                <h2><a href="/chitiet/{{sanpham.ProductID}}">Chivas 15</a></h2>
                                <div class="product-carousel-price ">
                                    <ins>500000 VND</ins> <del>700000 VND</del>
                                </div>
                            </div>
                            <div class="single-product ">
                                <div class="product-f-image ">
                                    <img style="width:140px;height: 140px; " src="assets/images/gallery/23.jpg " alt=" ">
                                    <div class="product-hover ">
                                        <a href=" " class="add-to-cart-link "><i class="fa fa-shopping-cart "></i> Add to cart</a>
                                        <a href=" " class="view-details-link "><i class="fa fa-link "></i> See details</a>
                                    </div>
                                </div>

                                <h2><a href=" ">Chivas 18</a></h2>

                                <div class="product-carousel-price ">
                                    <ins>600000 VND</ins> <del>800000 VND</del>
                                </div>
                            </div>
                            <div class="single-product ">
                                <div class="product-f-image ">
                                    <img src="assets/images/gallery/21.jpg " alt=" ">
                                    <div class="product-hover ">
                                        <a href=" " class="add-to-cart-link "><i class="fa fa-shopping-cart "></i> Add to cart</a>
                                        <a href=" " class="view-details-link "><i class="fa fa-link "></i> See details</a>
                                    </div>
                                </div>

                                <h2><a href=" ">Chivas 21</a></h2>

                                <div class="product-carousel-price ">
                                    <ins>550000 VND</ins> <del>1000000 VND</del>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer-top-area ">
    <div class="zigzag-bottom "></div>
    <div class="container ">
        <div class="row ">
            <div class="col-md-3 col-sm-6 ">
                <div class="footer-about-us ">
                    <h2>Rượu Ngoại</h2>
                    <p>Chất Lượng – Uy Tín – Thương Hiệu là kim chỉ nam là định hướng cho Website của chúng tôi. Tạo dựng niềm tin, xây dựng thương hiệu để phát triển bền vững trên con đường kinh doanh cũng như phục vụ sự hài lòng của Khách Hàng.</p>
                    <div class="footer-social ">
                        <a href="# " target="_blank "><i class="fa fa-facebook "></i></a>
                        <a href="# " target="_blank "><i class="fa fa-twitter "></i></a>
                        <a href="# " target="_blank "><i class="fa fa-youtube "></i></a>
                        <a href="# " target="_blank "><i class="fa fa-linkedin "></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 ">
                <div class="footer-menu ">
                    <h2 class="footer-wid-title ">Cài Đặt </h2>
                    <ul>
                        <li><a href="# ">Tài Khoản</a></li>
                        <li><a href="# ">Lịch Sử</a></li>
                        <li><a href="# ">Danh Sách</a></li>
                        <li><a href="# ">Thông Tin</a></li>
                        <li><a href="# ">Tin Tức</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 ">
                <div class="footer-menu ">
                    <h2 class="footer-wid-title ">Loại Sản Phẩm</h2>
                    <ul>
                        <li><a href="# ">Chivas</a></li>
                        <li><a href="# ">Soju</a></li>
                        <li><a href="# ">RedBull</a></li>
                        <li><a href="# ">Voldka</a></li>
                        <li><a href="# ">Gadets</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="footer-newsletter ">
                    <h2 class="footer-wid-title ">Tin Tức</h2>
                    <p>Hãy đăng nhập và cập nhật thông tin cho chúng tôi</p>
                    <div class="newsletter-form">
                        <form action="#">
                            <input type="email" placeholder="Type your email">
                            <input type="submit" value=" Gửi Đi">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>