<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a href="#"><i class="fa fa-user"></i> Thông Tin</a></li>
                        <li><a href="#"><i class="fa fa-heart"></i> Danh Sách</a></li>
                        <li><a href="cart.html"><i class="fa fa-user"></i> Giỏ Hàng</a></li>
                        <li><a href="checkout.html"><i class="fa fa-user"></i> Hóa Đơn</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> Tài Khoản</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="header-right">
                    <ul class="list-unstyled list-inline">
                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">Đơn Vị :</span><span class="value">VND </span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">VND</a>
                                </li>
                                <li>
                                    <a href="#">USD</a>
                                </li>
                                <li><a href="#">GBP</a></li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">Ngôn Ngữ:</span><span class="value">Việt Nam </span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">VietNam</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">German</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End header area -->

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1>
                        <a href="./"><img style="width:170px;height:110px;" src="assets/trangchu/img/logo.png"></a>
                    </h1>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="shopping-item">
                    <a href="cart.html">Giỏ Hàng - <span class="cart-amunt">VND</span> <i class="fa fa-shopping-cart"></i> <span class="product-count"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End site branding area -->

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home">Trang Chủ</a></li>
                    <li><a href="shop.html">Mua Hàng</a></li>
                    <li><a href="single-product.html">Sản Phẩm</a></li>
                    <li><a href="cart.html">Giỏ Hàng</a></li>
                    <li><a href="checkout.html">Thanh Toán</a></li>
                    <li><a href="#">Danh Sách</a></li>
                    <li><a href="#">Mục Khác</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End mainmenu area -->

<div style="background: chocolate;" class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Giỏ Hàng</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page title area -->


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Tìm Kiếm Sản Phẩm</h2>
                    <form action="">
                        <input type="text" placeholder="Tìm kiếm sản phẩm...">
                        <input style="background: chocolate;" type="submit" value="Tìm Kiếm">
                    </form>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản Phẩm</h2>
                    <div class="thubmnail-recent">
                        <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="">Chivas XI-Royal</a></h2>
                        <div class="product-sidebar-price">
                            <ins>600000 VND</ins> <del>1000000 VND</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="">Chivas XX-Dragon</a></h2>
                        <div class="product-sidebar-price">
                            <ins>700000 VND</ins> <del>800000 VND</del>
                        </div>
                    </div>

                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản Phẩm Liên Quan</h2>
                    <ul>
                        <li><a href="">Chivas 15-Regal</a></li>
                        <li><a href="">Chivas 18-Royal</a></li>
                        <li><a href="">Chivas 21-Dragon</a></li>
                        <li><a href="">Chivas 12-Royal</a></li>
                        <li><a href="">Chivas XX-Red</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="woocommerce">
                        <form method="post" action="#">
                            <table cellspacing="0" class="shop_table cart">
                                <thead>
                                    <tr>
                                        <th class="product-remove">Xóa</th>
                                        <th class="product-thumbnail">Hình Ảnh</th>
                                        <th class="product-name">Tên Sản Phẩm</th>
                                        <th class="product-price">Giá Tiền</th>
                                        <th class="product-quantity">Số Lượng</th>
                                        <th class="product-subtotal">Tổng Tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart_item" *ngFor="let s of getCartDetails">
                                        <td class="product-remove">
                                            <button class="delete" type="button" (click)="removeall()"><i class="fa fa-trash"></i> Xóa</button>
                                        </td>

                                        <td class="product-thumbnail">
                                            <a href="single-product.html"><img width="170" height="170" alt="poster_1_up" class="shop_thumbnail" src="assets/images/gallery/{{s.ProductImage}}"></a>
                                        </td>

                                        <td class="product-name">
                                            <a href="single-product.html">{{s.ProductName}}</a>
                                        </td>

                                        <td class="product-price">
                                            <span class="amount">{{s.Price|number}} VND</span>
                                        </td>

                                        <td class="product-quantity">
                                            <div class="quantity buttons_added">


                                                <button class="btn" (click)="cong(s.MaSP,s.quantity)"><i class="fa fa-plus"></i></button>
                                                <span>{{s.Quantity}}</span>
                                                <button class="btn" (click)="tru(s.MaSP,s.quantity)"><i class="fa fa-minus"></i></button>


                                            </div>
                                        </td>

                                        <td class="product-subtotal">
                                            <span class="amount">{{s.Price * s. Quantity | number}} VND</span>
                                        </td>
                                        <button (click)="singleDelete(s.MaSP)">X</button>
                                    </tr>
                                    <tr>
                                        <td class="actions" colspan="6">
                                            <div class="coupon">
                                                <label for="coupon_code">Mã Giảm Giá:</label>
                                                <input type="text" placeholder="Nhập mã code...." value="" id="coupon_code" class="input-text" name="coupon_code">
                                                <input style="background: chocolate;" type="submit" value="Xác Nhận" name="apply_coupon" class="button">
                                            </div>
                                            <input style="background: chocolate;" type="submit" value="Tiếp Tục" name="update_cart" class="button"> | |
                                            <a href="/checkout">Thanh Toán</a>
                            </table>
                        </form>

                        <div class=" cart-collaterals ">


                            <div class="cross-sells ">
                                <h2>Xem thêm thông tin...</h2>
                                <ul class="products ">
                                    <li class="product ">
                                        <a href="single-product.html ">
                                            <img width="325 " height="325 " alt="T_4_front " class="attachment-shop_catalog wp-post-image " src="assets/images/gallery/5.jpg ">
                                            <h3>Chivas 18</h3>
                                            <span class="price "><span class="amount ">500000 VND</span></span>
                                        </a>

                                        <a style="background: chocolate; " class="add_to_cart_button " data-quantity="1 " data-product_sku=" " data-product_id="22 " rel="nofollow " href="single-product.html ">Xem Thêm</a>
                                    </li>

                                    <li class="product ">
                                        <a href="single-product.html ">
                                            <img width="325 " height="325 " alt="T_4_front " class="attachment-shop_catalog wp-post-image " src="assets/images/gallery/2.jpg ">
                                            <h3>Chivas 15</h3>
                                            <span class="price "><span class="amount ">650000 VND</span></span>
                                        </a>

                                        <a style="background: chocolate; " class="add_to_cart_button " data-quantity="1 " data-product_sku=" " data-product_id="22 " rel="nofollow " href="single-product.html ">Xem Thêm</a>
                                    </li>
                                </ul>
                            </div>


                            <div class="cart_totals ">
                                <h2>Thông Tin Sản Phẩm</h2>

                                <table cellspacing="0 ">
                                    <tbody>

                                        <tr class="shipping ">
                                            <th>Giao Hàng Miễn Phí</th>
                                            <td>Free Giao Hàng</td>
                                        </tr>

                                        <tr class="order-total ">
                                            <th>Giảm Giá</th>
                                            <td><strong><span class="amount "></span></strong>$ </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer-top-area ">
    <div class="zigzag-bottom "></div>
    <div class="container ">
        <div class="row ">
            <div class="col-md-3 col-sm-6 ">
                <div class="footer-about-us ">
                    <h2>Rượu Ngoại</h2>
                    <p>Chất Lượng – Uy Tín – Thương Hiệu là kim chỉ nam là định hướng cho Website của chúng tôi. Tạo dựng niềm tin, xây dựng thương hiệu để phát triển bền vững trên con đường kinh doanh cũng như phục vụ sự hài lòng của Khách Hàng.</p>
                    <div class="footer-social ">
                        <a href="# " target="_blank "><i class="fa fa-facebook "></i></a>
                        <a href="# " target="_blank "><i class="fa fa-twitter "></i></a>
                        <a href="# " target="_blank "><i class="fa fa-youtube "></i></a>
                        <a href="# " target="_blank "><i class="fa fa-linkedin "></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 ">
                <div class="footer-menu ">
                    <h2 class="footer-wid-title ">Cài Đặt </h2>
                    <ul>
                        <li><a href="# ">Tài Khoản</a></li>
                        <li><a href="# ">Lịch Sử</a></li>
                        <li><a href="# ">Danh Sách</a></li>
                        <li><a href="# ">Thông Tin</a></li>
                        <li><a href="# ">Tin Tức</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 ">
                <div class="footer-menu ">
                    <h2 class="footer-wid-title ">Loại Sản Phẩm</h2>
                    <ul>
                        <li><a href="# ">Chivas</a></li>
                        <li><a href="# ">Soju</a></li>
                        <li><a href="# ">RedBull</a></li>
                        <li><a href="# ">Voldka</a></li>
                        <li><a href="# ">Gadets</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 ">
                <div class="footer-newsletter ">
                    <h2 class="footer-wid-title ">Tin Tức</h2>
                    <p>Hãy đăng nhập và cập nhật thông tin cho chúng tôi</p>
                    <div class="newsletter-form ">
                        <form action="# ">
                            <input type="email " placeholder="Type your email ">
                            <input type="submit " value=" Gửi Đi ">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End footer top area -->