<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a href="#"><i class="fa fa-user"></i> Thông Tin</a></li>
                        <li><a href="#"><i class="fa fa-heart"></i> Danh Sách</a></li>
                        <li><a href="cart.html"><i class="fa fa-user"></i> Giỏ Hàng</a></li>
                        <li><a href="checkout.html"><i class="fa fa-user"></i> Hóa Đơn</a></li>
                        <li><a href="#"><i class="fa fa-user"></i> Tài Khoản</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="header-right">
                    <ul class="list-unstyled list-inline">
                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">Đơn Vị :</span><span class="value">VND </span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">VND</a>
                                </li>
                                <li>
                                    <a href="#">USD</a>
                                </li>
                                <li><a href="#">GBP</a></li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">Ngôn Ngữ:</span><span class="value">Việt Nam </span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">VietNam</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">German</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End header area -->

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1>
                        <a href="./"><img style="width:170px;height:110px;" src="assets/trangchu/img/logo.png"></a>
                    </h1>
                </div>
            </div>

            <div class="col-sm-6" >
                <div class="shopping-item" >
                    <a href="/cart">Giỏ Hàng - <span href="javascript:void(0);" class="cart-amunt">VND {{sumcart|number}}</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">{{numcart}}</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End site branding area -->

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home">Trang Chủ</a></li>
                    <li><a href="shop.html">Mua Hàng</a></li>
                    <li><a href="/loaisanpham">Sản Phẩm</a></li>
                    <li><a href="/cart">Giỏ Hàng</a></li>
                    <li><a href="/checkout">Thanh Toán</a></li>
                    <li><a href="#">Danh Sách</a></li>
                    <li><a href="#">Mục Khác</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End mainmenu area -->

<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
            <li><img src="assets/trangchu/img/banner2.jpg" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                        Rượu Ngoại <span class="primary">O1 <strong>O2</strong></span>
                    </h2>
                    <h4 class="caption subtitle">& Chivas</h4>
                    <a class="caption button-radius" href="#"><span class="icon"></span>Mua Sản Phẩm</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- ./Slider -->
</div>
<!-- End slider area -->

<div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo1">
                    <i class="fa fa-refresh"></i>
                    <p>30 Đổi Trả</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo2">
                    <i class="fa fa-truck"></i>
                    <p>Free Mua Sắm</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo3">
                    <i class="fa fa-lock"></i>
                    <p>Thanh Toán Tiện Lợi</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo4">
                    <i class="fa fa-gift"></i>
                    <p>Sản Phẩm Mới</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End promo area -->

<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Sản Phẩm HOT</h2>
                    <div class="product-carousel">
                        <div class="col-md-3 col-sm-6" *ngFor="let s of products">
                            <div class="single-shop-product">
                                <div class="product-upper">
                                    <img style="width: 210px;height: 160px;border:2px solid orange" src="../../assets/images/gallery/{{s.ProductImage}}" alt="">
                                </div>
                                <h2><a href="">{{s.ProductName}}</a></h2>
                                <div class="product-carousel-price">
                                    <ins>{{s.PromotionPrice|number}} VND</ins> <del>{{s.Price|number}} VND</del>
                                </div>

                                <div class="product-option-shop">
                                    <a style="background: chocolate;" class="add_to_cart_button" href="/chitiet/{{s.ProductID}}">Chi Tiết</a>
                                    <a (click)="addCart(s)" style="background: chocolate;" class="add_to_cart_button " href="/cart">Mua Hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End main content area -->

    <div class="brands-area ">
        <div class="zigzag-bottom "></div>
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="brand-wrapper ">
                        <div class="brand-list ">
                            <img src="assets/trangchu/img/brand6.png " alt=" ">
                            <img src="assets/trangchu/img/brand2.png " alt=" ">
                            <img src="assets/trangchu/img/brand3.png " alt=" ">
                            <img src="assets/trangchu/img/brand4.png " alt=" ">
                            <img src="assets/trangchu/img/brand5.png " alt=" ">
                            <img src="assets/trangchu/img/brand1.png " alt=" ">
                            <img src="assets/trangchu/img/brand1.png " alt=" ">
                            <img src="assets/trangchu/img/brand2.png " alt=" ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End brands area -->

    <div class="product-widget-area ">
        <div class="zigzag-bottom "></div>
        <div class="container ">
            <div class="row ">
                <div class="col-md-4 ">
                    <div class="single-product-widget ">
                        <h2 class="product-wid-title ">Top Sản Phẩm</h2>
                        <a href=" " class="wid-view-more ">Xem Tất Cả</a>
                        <div class="single-wid-product ">
                            <a href="single-product.html "><img src="assets/images/gallery/2.jpg " alt=" " class="product-thumb "></a>
                            <h2><a>Chivas Regal</a></h2>
                            <div class="product-wid-rating ">
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                            </div>
                            <div class="product-wid-price ">
                                <ins>600000 VND</ins> <del>800000 VND</del>
                            </div>
                        </div>
                        <div class="single-wid-product ">
                            <a href="single-product.html "><img src="assets/images/gallery/3.jpg " alt=" " class="product-thumb "></a>
                            <h2><a href="single-product.html ">Chivas 15</a></h2>
                            <div class="product-wid-rating ">
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                            </div>
                            <div class="product-wid-price ">
                                <ins>600000 VND</ins> <del>800000 VND</del>
                            </div>
                        </div>
                        <div class="single-wid-product ">
                            <a href="single-product.html "><img src="assets/images/gallery/25.jpg " alt=" " class="product-thumb "></a>
                            <h2><a href="single-product.html ">Chivas 18</a></h2>
                            <div class="product-wid-rating ">
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                            </div>
                            <div class="product-wid-price ">
                                <ins>600000 VND</ins> <del>800000 VND</del>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="single-product-widget ">
                        <h2 class="product-wid-title ">Sản Phẩm Mới</h2>
                        <a href="# " class="wid-view-more ">Xem Tất Cả</a>
                        <div class="single-wid-product ">
                            <a href="single-product.html "><img src="assets/images/gallery/32.jpg " alt=" " class="product-thumb "></a>
                            <h2><a href="single-product.html ">Chivas 21</a></h2>
                            <div class="product-wid-rating ">
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                            </div>
                            <div class="product-wid-price ">
                                <ins>600000 VND</ins> <del>800000 VND</del>
                            </div>
                        </div>
                        <div class="single-wid-product ">
                            <a href="single-product.html "><img src="assets/images/gallery/28.jpg " alt=" " class="product-thumb "></a>
                            <h2><a href="single-product.html ">Chivas 25</a></h2>
                            <div class="product-wid-rating ">
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                            </div>
                            <div class="product-wid-price ">
                                <ins>600000 VND</ins> <del>800000 VND</del>
                            </div>
                        </div>
                        <div class="single-wid-product ">
                            <a href="single-product.html "><img src="assets/images/gallery/33.jpg " alt=" " class="product-thumb "></a>
                            <h2><a href="single-product.html ">Chivas 30</a></h2>
                            <div class="product-wid-rating ">
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                            </div>
                            <div class="product-wid-price ">
                                <ins>600000 VND</ins> <del>800000 VND</del>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="single-product-widget ">
                        <h2 class="product-wid-title ">Sản Phẩm Chạy</h2>
                        <a href="# " class="wid-view-more ">Xem Tất Cả</a>
                        <div class="single-wid-product ">
                            <a href="single-product.html "><img src="assets/images/gallery/22.jpg " alt=" " class="product-thumb "></a>
                            <h2><a href="single-product.html ">Chivas 12</a></h2>
                            <div class="product-wid-rating ">
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                            </div>
                            <div class="product-wid-price ">
                                <ins>600000 VND</ins> <del>800000 VND</del>
                            </div>
                        </div>
                        <div class="single-wid-product ">
                            <a href="single-product.html "><img src="assets/images/gallery/24.jpg " alt=" " class="product-thumb "></a>
                            <h2><a href="single-product.html ">Chivas XX</a></h2>
                            <div class="product-wid-rating ">
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                            </div>
                            <div class="product-wid-price ">
                                <ins>600000 VND</ins> <del>800000 VND</del>
                            </div>
                        </div>
                        <div class="single-wid-product ">
                            <a href="single-product.html "><img src="assets/images/gallery/31.jpg " alt=" " class="product-thumb "></a>
                            <h2><a href="single-product.html ">Chivas XI</a></h2>
                            <div class="product-wid-rating ">
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                                <i class="fa fa-star "></i>
                            </div>
                            <div class="product-wid-price ">
                                <ins>600000 VND</ins> <del>800000 VND</del>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End product widget area -->

    <div class="footer-top-area ">
        <div class="zigzag-bottom "></div>
        <div class="container ">
            <div class="row ">
                <div class="col-md-3 col-sm-6 ">
                    <div class="footer-about-us ">
                        <h2>Rượu Ngoại</h2>
                        <p>Chất Lượng – Uy Tín – Thương Hiệu là kim chỉ nam là định hướng cho Website của chúng tôi. Tạo dựng niềm tin, xây dựng thương hiệu để phát triển bền vững trên con đường kinh doanh cũng như phục vụ sự hài lòng của Khách Hàng.</p>
                        <div class="footer-social ">
                            <a href="# " target="_blank "><i class="fa fa-facebook "></i></a>
                            <a href="# " target="_blank "><i class="fa fa-twitter "></i></a>
                            <a href="# " target="_blank "><i class="fa fa-youtube "></i></a>
                            <a href="# " target="_blank "><i class="fa fa-linkedin "></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 ">
                    <div class="footer-menu ">
                        <h2 class="footer-wid-title ">Cài Đặt </h2>
                        <ul>
                            <li><a href="# ">Tài Khoản</a></li>
                            <li><a href="# ">Lịch Sử</a></li>
                            <li><a href="# ">Danh Sách</a></li>
                            <li><a href="# ">Thông Tin</a></li>
                            <li><a href="# ">Tin Tức</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 ">
                    <div class="footer-menu ">
                        <h2 class="footer-wid-title ">Loại Sản Phẩm</h2>
                        <ul>
                            <li><a href="# ">Chivas</a></li>
                            <li><a href="# ">Soju</a></li>
                            <li><a href="# ">RedBull</a></li>
                            <li><a href="# ">Voldka</a></li>
                            <li><a href="# ">Gadets</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 ">
                    <div class="footer-newsletter ">
                        <h2 class="footer-wid-title ">Tin Tức</h2>
                        <p>Hãy đăng nhập và cập nhật thông tin cho chúng tôi</p>
                        <div class="newsletter-form">
                            <form action="#">
                                <input type="email" placeholder="Type your email">
                                <input type="submit" value=" Gửi Đi">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End footer top area -->